In [35]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\mnt\Yacht_ship_info.csv")

In [37]:
df

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,14/03/1989
1,Quest,Azamara,6,694,594,355,4264,355,IPS,Fiberglass,Diesel,Minimalist,16/04/2007
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,07/06/2002
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,08/02/1993
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,14/09/1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Oriana,P&O,18,1882,853,914,3674,794,IPS,Wood,Petrol,Modern,08/01/2003
96,Ventura,P&O,5,3574,9,1532,3218,122,Outboard,Wood,Electric,Minimalist,26/05/2010
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,20/12/1987
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,18/03/2016
99,Crown,Princess,7,31,951,1557,3742,12,IPS,Fiberglass,Electric,Classic,15/04/2012

In [9]:
# 2. First 5 records
df.head()

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,14/03/1989
1,Quest,Azamara,6,694,594,355,4264,355,IPS,Fiberglass,Diesel,Minimalist,16/04/2007
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,07/06/2002
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,08/02/1993
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,14/09/1985

In [11]:
# 3. Last 5 records
df.tail()

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
95,Oriana,P&O,18,1882,853,914,3674,794,IPS,Wood,Petrol,Modern,08/01/2003
96,Ventura,P&O,5,3574,9,1532,3218,122,Outboard,Wood,Electric,Minimalist,26/05/2010
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,20/12/1987
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,18/03/2016
99,Crown,Princess,7,31,951,1557,3742,12,IPS,Fiberglass,Electric,Classic,15/04/2012

In [13]:
# 4. Total number of ships
df.shape[0]

100

In [15]:
# 5. Column names
df.columns.tolist()

['Ship_name',
 'Cruise_line',
 'Age',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'Engine_Type',
 'Hull_Material',
 'Fuel_Type',
 'Interior_Style',
 'Launch_Date']

In [17]:
# 6. Data types of each column
df.dtypes

Ship_name            object
Cruise_line          object
Age                   int64
passengers            int64
length                int64
cabins                int64
passenger_density     int64
crew                  int64
Engine_Type          object
Hull_Material        object
Fuel_Type            object
Interior_Style       object
Launch_Date          object
dtype: object

In [19]:
# 7. Check missing values
df.isnull().sum()

Ship_name            0
Cruise_line          0
Age                  0
passengers           0
length               0
cabins               0
passenger_density    0
crew                 0
Engine_Type          0
Hull_Material        0
Fuel_Type            0
Interior_Style       0
Launch_Date          0
dtype: int64

In [23]:
# 8. Count ships by Cruise Line
df['Cruise_line'].value_counts()

Cruise_line
Carnival            22
Holland_American    14
Norwegian           13
Costa               11
Celebrity           10
MSC                  8
P&O                  6
Cunard               3
Oceania              3
Princess             3
Azamara              2
Crystal              2
Disney               2
Orient               1
Name: count, dtype: int64

In [27]:
# 9. Unique Engine Types
df['Engine_Type'].unique()

array(['Jet', 'IPS', 'Inboard', 'Outboard'], dtype=object)

In [31]:
# 10. Unique Hull Materials
df['Hull_Material'].unique()

array(['Fiberglass', 'Steel', 'Aluminum', 'Wood'], dtype=object)

In [43]:
# 11. Ships older than 20 years
df[df['Age'] > 20]

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,07/06/2002
5,Ecstasy,Carnival,22,2052,855,102,3429,92,Inboard,Fiberglass,Petrol,Modern,04/01/2018
7,Fantasy,Carnival,23,2056,855,1022,3423,92,IPS,Aluminum,Electric,Classic,12/03/1985
11,Holiday,Carnival,28,1452,727,726,3172,66,Jet,Steel,Petrol,Modern,02/02/1987
33,Zenith,Celebrity,21,1366,682,687,3457,67,IPS,Steel,Petrol,Minimalist,26/10/1986
34,Allegra,Costa,21,808,616,41,3519,4,IPS,Aluminum,Petrol,Classic,19/01/1984
36,Classica,Costa,22,1302,718,654,4065,617,Outboard,Fiberglass,Electric,Classic,24/05/1980
37,Europa,Costa,27,1494,798,767,3606,636,Outboard,Steel,Petrol,Classic,30/06/2010
40,Marina,Costa,23,776,622,386,3222,385,Outboard,Steel,Petrol,Modern,25/06/1992
47,QueenElizabethII,Cunard,44,1791,963,95,3927,921,Inboard,Wood,Diesel,Luxury,21/04/2004
55,Noordam,Holland_American,29,1214,704,607,2794,53,Jet,Steel,Diesel,Modern,09/09/2016
57,Prinsendam,Holland_American,25,749,674,396,5073,46,Outboard,Wood,Electric,Luxury,20/01/2002
63,Westerdam,Holland_American,27,1494,798,747,3606,612,Inboard,Aluminum,Diesel,Minimalist,28/02/2013
69,Melody,MSC,31,125,669,532,2811,535,Jet,Steel,Diesel,Modern,03/02/1998
72,Rhapsody,MSC,36,952,541,383,177,297,IPS,Aluminum,Electric,Classic,01/06/1996
74,Crown,Norwegian,25,1052,615,526,3256,47,Inboard,Fiberglass,Diesel,Minimalist,27/08/1987
76,Dream,Norwegian,21,1748,754,874,2904,614,Inboard,Wood,Electric,Luxury,13/05/1995
79,Majesty,Norwegian,21,1056,567,528,3598,438,Outboard,Fiberglass,Electric,Luxury,23/01/2005
82,Sea,Norwegian,25,1504,708,752,2793,63,Outboard,Wood,Electric,Classic,21/05/2014
84,Star,Norwegian,40,115,674,4,2435,38,Outboard,Fiberglass,Electric,Classic,07/02/1989
90,MarcoPolo,Orient,48,826,578,425,2673,35,Inboard,Steel,Petrol,Luxury,01/03/1990
92,Artemis,P&O,29,1178,754,53,382,52,Inboard,Wood,Diesel,Modern,05/03/1995

In [47]:
# 12. Passengers greater than 2500
df[df['passengers'] > 2500]

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,08/02/1993
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,14/09/1985
10,Glory,Carnival,10,2974,951,1487,3699,116,Jet,Wood,Petrol,Luxury,31/08/2005
15,Liberty*,Carnival,8,2974,951,1487,3699,116,Inboard,Wood,Electric,Luxury,10/03/1998
21,Triumph,Carnival,14,2758,893,1321,3681,10,Jet,Fiberglass,Diesel,Minimalist,27/03/2004
22,Valor,Carnival,9,2974,952,1487,3699,116,Outboard,Wood,Electric,Minimalist,29/01/1993
23,Victory,Carnival,13,2758,893,1379,3681,115,IPS,Aluminum,Electric,Luxury,31/10/2007
67,Fantasia,MSC,5,3959,1093,1637,3372,1313,IPS,Aluminum,Electric,Luxury,08/02/1981
96,Ventura,P&O,5,3574,9,1532,3218,122,Outboard,Wood,Electric,Minimalist,26/05/2010

In [49]:
# 13. Ships using Electric fuel
df[df['Fuel_Type'] == 'Electric']

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,14/03/1989
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,14/09/1985
7,Fantasy,Carnival,23,2056,855,1022,3423,92,IPS,Aluminum,Electric,Classic,12/03/1985
15,Liberty*,Carnival,8,2974,951,1487,3699,116,Inboard,Wood,Electric,Luxury,10/03/1998
22,Valor,Carnival,9,2974,952,1487,3699,116,Outboard,Wood,Electric,Minimalist,29/01/1993
23,Victory,Carnival,13,2758,893,1379,3681,115,IPS,Aluminum,Electric,Luxury,31/10/2007
26,Galaxy,Celebrity,17,189,866,935,4112,909,Inboard,Steel,Electric,Luxury,21/09/1980
27,Infinity,Celebrity,12,2032,965,975,4478,999,Outboard,Steel,Electric,Minimalist,28/06/1987
29,Millenium,Celebrity,13,2032,965,975,4478,999,Inboard,Wood,Electric,Classic,22/09/1981
36,Classica,Costa,22,1302,718,654,4065,617,Outboard,Fiberglass,Electric,Classic,24/05/1980
38,Fortuna,Costa,10,272,89,1356,386,1068,Jet,Wood,Electric,Classic,09/07/1983
39,Magica,Costa,9,272,89,1356,386,1068,IPS,Wood,Electric,Classic,02/09/2006
44,Victoria,Costa,17,1928,828,964,3899,766,Jet,Steel,Electric,Minimalist,17/03/1999
48,QueenMary2,Cunard,10,262,1132,1134,5779,1253,Inboard,Wood,Electric,Modern,24/11/1990
49,QueenVictoria,Cunard,6,20,964,1029,45,9,Jet,Steel,Electric,Modern,12/03/2012
57,Prinsendam,Holland_American,25,749,674,396,5073,46,Outboard,Wood,Electric,Luxury,20/01/2002
64,Zaandam,Holland_American,13,144,777,72,4375,531,Jet,Steel,Electric,Minimalist,06/02/1989
65,Zuiderdam,Holland_American,11,1848,951,924,46,8,Outboard,Steel,Electric,Minimalist,22/05/2004
67,Fantasia,MSC,5,3959,1093,1637,3372,1313,IPS,Aluminum,Electric,Luxury,08/02/1981
70,Musica,MSC,7,255,961,1275,3514,987,Outboard,Wood,Electric,Classic,26/06/2019
72,Rhapsody,MSC,36,952,541,383,177,297,IPS,Aluminum,Electric,Classic,01/06/1996
76,Dream,Norwegian,21,1748,754,874,2904,614,Inboard,Wood,Electric,Luxury,13/05/1995
79,Majesty,Norwegian,21,1056,567,528,3598,438,Outboard,Fiberglass,Electric,Luxury,23/01/2005
82,Sea,Norwegian,25,1504,708,752,2793,63,Outboard,Wood,Electric,Classic,21/05/2014
84,Star,Norwegian,40,115,674,4,2435,38,Outboard,Fiberglass,Electric,Classic,07/02/1989
86,Wind,Norwegian,20,1748,754,874,2904,614,Inboard,Steel,Electric,Classic,21/11/2010
87,Insignia,Oceania,15,684,594,342,4426,4,Inboard,Steel,Electric,Minimalist,15/04/1998
94,Oceana,P&O,10,2016,856,975,3819,9,Outboard,Steel,Electric,Classic,19/11/2017
96,Ventura,P&O,5,3574,9,1532,3218,122,Outboard,Wood,Electric,Minimalist,26/05/2010
99,Crown,Princess,7,31,951,1557,3742,12,IPS,Fiberglass,Electric,Classic,15/04/2012

In [53]:
# 14. Luxury interior style
df[df['Interior_Style'] == 'Luxury']

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,14/09/1985
6,Elation,Carnival,15,2052,855,102,3429,92,IPS,Wood,Diesel,Luxury,05/07/1990
10,Glory,Carnival,10,2974,951,1487,3699,116,Jet,Wood,Petrol,Luxury,31/08/2005
12,Imagination,Carnival,18,2052,855,102,3429,92,Inboard,Wood,Petrol,Luxury,31/10/1997
14,Legend,Carnival,11,2124,963,1062,4049,93,Jet,Steel,Petrol,Luxury,17/04/2001
15,Liberty*,Carnival,8,2974,951,1487,3699,116,Inboard,Wood,Electric,Luxury,10/03/1998
17,Paradise,Carnival,15,2052,855,102,3429,92,Inboard,Fiberglass,Diesel,Luxury,07/04/1989
19,Sensation,Carnival,20,2052,855,102,3429,92,Jet,Aluminum,Diesel,Luxury,13/07/2000
23,Victory,Carnival,13,2758,893,1379,3681,115,IPS,Aluminum,Electric,Luxury,31/10/2007
26,Galaxy,Celebrity,17,189,866,935,4112,909,Inboard,Steel,Electric,Luxury,21/09/1980
41,Mediterranea,Costa,10,2114,96,1056,4068,92,Jet,Wood,Diesel,Luxury,26/03/2018
47,QueenElizabethII,Cunard,44,1791,963,95,3927,921,Inboard,Wood,Diesel,Luxury,21/04/2004
50,Magic,Disney,15,175,964,875,4762,945,Outboard,Wood,Diesel,Luxury,01/10/1984
52,Amsterdam,Holland_American,13,138,78,688,442,6,IPS,Fiberglass,Petrol,Luxury,07/08/2012
53,Eurodam,Holland_American,5,2104,936,1022,4087,8,Inboard,Wood,Diesel,Luxury,06/08/1984
54,Maasdam,Holland_American,20,1264,719,632,4387,557,Inboard,Wood,Petrol,Luxury,24/09/2020
57,Prinsendam,Holland_American,25,749,674,396,5073,46,Outboard,Wood,Electric,Luxury,20/01/2002
60,Statendam,Holland_American,20,1266,719,633,438,588,Inboard,Wood,Diesel,Luxury,15/06/1990
61,Veendam,Holland_American,17,1266,719,633,438,588,Outboard,Fiberglass,Diesel,Luxury,21/04/1991
66,Armonia,MSC,12,1566,824,783,3742,7,IPS,Aluminum,Diesel,Luxury,21/07/2018
67,Fantasia,MSC,5,3959,1093,1637,3372,1313,IPS,Aluminum,Electric,Luxury,08/02/1981
68,Lirica,MSC,10,156,823,765,3771,7,Jet,Steel,Diesel,Luxury,02/11/1992
71,Opera,MSC,9,17,763,85,3474,74,IPS,Wood,Diesel,Luxury,22/07/1998
76,Dream,Norwegian,21,1748,754,874,2904,614,Inboard,Wood,Electric,Luxury,13/05/1995
79,Majesty,Norwegian,21,1056,567,528,3598,438,Outboard,Fiberglass,Electric,Luxury,23/01/2005
90,MarcoPolo,Orient,48,826,578,425,2673,35,Inboard,Steel,Petrol,Luxury,01/03/1990
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,18/03/2016

In [55]:
# 15. Steel hull material
df[df['Hull_Material'] == 'Steel']

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,07/06/2002
11,Holiday,Carnival,28,1452,727,726,3172,66,Jet,Steel,Petrol,Modern,02/02/1987
13,Inspiration,Carnival,17,2052,855,102,3429,92,Jet,Steel,Petrol,Modern,28/12/1995
14,Legend,Carnival,11,2124,963,1062,4049,93,Jet,Steel,Petrol,Luxury,17/04/2001
16,Miracle,Carnival,9,2124,963,1062,4167,103,IPS,Steel,Diesel,Classic,22/06/2003
18,Pride,Carnival,12,2124,963,1162,4167,93,IPS,Steel,Diesel,Classic,03/01/2008
26,Galaxy,Celebrity,17,189,866,935,4112,909,Inboard,Steel,Electric,Luxury,21/09/1980
27,Infinity,Celebrity,12,2032,965,975,4478,999,Outboard,Steel,Electric,Minimalist,28/06/1987
33,Zenith,Celebrity,21,1366,682,687,3457,67,IPS,Steel,Petrol,Minimalist,26/10/1986
37,Europa,Costa,27,1494,798,767,3606,636,Outboard,Steel,Petrol,Classic,30/06/2010
40,Marina,Costa,23,776,622,386,3222,385,Outboard,Steel,Petrol,Modern,25/06/1992
42,Romantica,Costa,20,1344,722,678,3947,6,IPS,Steel,Petrol,Classic,16/07/2020
44,Victoria,Costa,17,1928,828,964,3899,766,Jet,Steel,Electric,Minimalist,17/03/1999
45,Serenity,Crystal,10,108,79,55,6296,636,Outboard,Steel,Diesel,Classic,15/05/2018
46,Symphony,Crystal,18,94,781,48,5426,545,Inboard,Steel,Diesel,Minimalist,16/01/2002
49,QueenVictoria,Cunard,6,20,964,1029,45,9,Jet,Steel,Electric,Modern,12/03/2012
55,Noordam,Holland_American,29,1214,704,607,2794,53,Jet,Steel,Diesel,Modern,09/09/2016
59,Ryndam,Holland_American,19,1266,719,633,438,588,Jet,Steel,Diesel,Modern,04/07/2009
64,Zaandam,Holland_American,13,144,777,72,4375,531,Jet,Steel,Electric,Minimalist,06/02/1989
65,Zuiderdam,Holland_American,11,1848,951,924,46,8,Outboard,Steel,Electric,Minimalist,22/05/2004
68,Lirica,MSC,10,156,823,765,3771,7,Jet,Steel,Diesel,Luxury,02/11/1992
69,Melody,MSC,31,125,669,532,2811,535,Jet,Steel,Diesel,Modern,03/02/1998
86,Wind,Norwegian,20,1748,754,874,2904,614,Inboard,Steel,Electric,Classic,21/11/2010
87,Insignia,Oceania,15,684,594,342,4426,4,Inboard,Steel,Electric,Minimalist,15/04/1998
90,MarcoPolo,Orient,48,826,578,425,2673,35,Inboard,Steel,Petrol,Luxury,01/03/1990
91,Arcadia,P&O,9,1968,935,984,4319,869,Jet,Steel,Diesel,Modern,07/05/1984
94,Oceana,P&O,10,2016,856,975,3819,9,Outboard,Steel,Electric,Classic,19/11/2017

In [61]:
df['Launch_Date'] = pd.to_datetime(df['Launch_Date'], dayfirst=True, errors='coerce')
# 16. Ships launched before 2000
df[df['Launch_Date'].dt.year < 2000]

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,1989-03-14
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,1993-02-08
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,1985-09-14
6,Elation,Carnival,15,2052,855,102,3429,92,IPS,Wood,Diesel,Luxury,1990-07-05
7,Fantasy,Carnival,23,2056,855,1022,3423,92,IPS,Aluminum,Electric,Classic,1985-03-12
8,Fascination,Carnival,19,2052,855,102,3429,92,Outboard,Wood,Diesel,Minimalist,1997-11-27
11,Holiday,Carnival,28,1452,727,726,3172,66,Jet,Steel,Petrol,Modern,1987-02-02
12,Imagination,Carnival,18,2052,855,102,3429,92,Inboard,Wood,Petrol,Luxury,1997-10-31
13,Inspiration,Carnival,17,2052,855,102,3429,92,Jet,Steel,Petrol,Modern,1995-12-28
15,Liberty*,Carnival,8,2974,951,1487,3699,116,Inboard,Wood,Electric,Luxury,1998-03-10
17,Paradise,Carnival,15,2052,855,102,3429,92,Inboard,Fiberglass,Diesel,Luxury,1989-04-07
22,Valor,Carnival,9,2974,952,1487,3699,116,Outboard,Wood,Electric,Minimalist,1993-01-29
25,Constellation,Celebrity,11,2032,965,975,4478,999,Outboard,Aluminum,Diesel,Classic,1990-04-06
26,Galaxy,Celebrity,17,189,866,935,4112,909,Inboard,Steel,Electric,Luxury,1980-09-21
27,Infinity,Celebrity,12,2032,965,975,4478,999,Outboard,Steel,Electric,Minimalist,1987-06-28
29,Millenium,Celebrity,13,2032,965,975,4478,999,Inboard,Wood,Electric,Classic,1981-09-22
30,Solstice,Celebrity,5,285,1033,687,3457,67,Outboard,Fiberglass,Petrol,Minimalist,1983-03-26
31,Summit,Celebrity,12,2032,965,975,4478,999,IPS,Fiberglass,Petrol,Modern,1984-11-19
33,Zenith,Celebrity,21,1366,682,687,3457,67,IPS,Steel,Petrol,Minimalist,1986-10-26
34,Allegra,Costa,21,808,616,41,3519,4,IPS,Aluminum,Petrol,Classic,1984-01-19
36,Classica,Costa,22,1302,718,654,4065,617,Outboard,Fiberglass,Electric,Classic,1980-05-24
38,Fortuna,Costa,10,272,89,1356,386,1068,Jet,Wood,Electric,Classic,1983-07-09
40,Marina,Costa,23,776,622,386,3222,385,Outboard,Steel,Petrol,Modern,1992-06-25
43,Serena,Costa,6,38,951,15,2947,109,Inboard,Aluminum,Diesel,Classic,1981-07-05
44,Victoria,Costa,17,1928,828,964,3899,766,Jet,Steel,Electric,Minimalist,1999-03-17
48,QueenMary2,Cunard,10,262,1132,1134,5779,1253,Inboard,Wood,Electric,Modern,1990-11-24
50,Magic,Disney,15,175,964,875,4762,945,Outboard,Wood,Diesel,Luxury,1984-10-01
53,Eurodam,Holland_American,5,2104,936,1022,4087,8,Inboard,Wood,Diesel,Luxury,1984-08-06
60,Statendam,Holland_American,20,1266,719,633,438,588,Inboard,Wood,Diesel,Luxury,1990-06-15
61,Veendam,Holland_American,17,1266,719,633,438,588,Outboard,Fiberglass,Diesel,Luxury,1991-04-21
64,Zaandam,Holland_American,13,144,777,72,4375,531,Jet,Steel,Electric,Minimalist,1989-02-06
67,Fantasia,MSC,5,3959,1093,1637,3372,1313,IPS,Aluminum,Electric,Luxury,1981-02-08
68,Lirica,MSC,10,156,823,765,3771,7,Jet,Steel,Diesel,Luxury,1992-11-02
69,Melody,MSC,31,125,669,532,2811,535,Jet,Steel,Diesel,Modern,1998-02-03
71,Opera,MSC,9,17,763,85,3474,74,IPS,Wood,Diesel,Luxury,1998-07-22
72,Rhapsody,MSC,36,952,541,383,177,297,IPS,Aluminum,Electric,Classic,1996-06-01
73,Sinfonia,MSC,11,1566,823,783,3742,76,IPS,Wood,Petrol,Classic,1983-03-28
74,Crown,Norwegian,25,1052,615,526,3256,47,Inboard,Fiberglass,Diesel,Minimalist,1987-08-27
76,Dream,Norwegian,21,1748,754,874,2904,614,Inboard,Wood,Electric,Luxury,1995-05-13
77,Gem,Norwegian,6,2394,965,1197,3885,1109,Outboard,Fiberglass,Petrol,Minimalist,1997-05-19
78,Jewel,Norwegian,8,2244,965,1122,4055,11,Inboard,Aluminum,Petrol,Minimalist,1995-11-26
80,PrideofAloha,Norwegian,14,2002,853,1001,3851,8,IPS,Wood,Petrol,Classic,1991-06-15
83,Spirit,Norwegian,15,1956,879,983,3852,13,Jet,Fiberglass,Petrol,Modern,1995-10-19
84,Star,Norwegian,40,115,674,4,2435,38,Outboard,Fiberglass,Electric,Classic,1989-02-07
85,Sun,Norwegian,12,2002,853,1001,3851,959,Jet,Wood,Petrol,Modern,1990-03-02
87,Insignia,Oceania,15,684,594,342,4426,4,Inboard,Steel,Electric,Minimalist,1998-04-15
90,MarcoPolo,Orient,48,826,578,425,2673,35,Inboard,Steel,Petrol,Luxury,1990-03-01
91,Arcadia,P&O,9,1968,935,984,4319,869,Jet,Steel,Diesel,Modern,1984-05-07
92,Artemis,P&O,29,1178,754,53,382,52,Inboard,Wood,Diesel,Modern,1995-03-05
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20

In [65]:
# 17. Crew size less than 100
df[df['crew'] < 100]

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,2002-06-07
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,1985-09-14
5,Ecstasy,Carnival,22,2052,855,102,3429,92,Inboard,Fiberglass,Petrol,Modern,2018-01-04
6,Elation,Carnival,15,2052,855,102,3429,92,IPS,Wood,Diesel,Luxury,1990-07-05
7,Fantasy,Carnival,23,2056,855,1022,3423,92,IPS,Aluminum,Electric,Classic,1985-03-12
8,Fascination,Carnival,19,2052,855,102,3429,92,Outboard,Wood,Diesel,Minimalist,1997-11-27
11,Holiday,Carnival,28,1452,727,726,3172,66,Jet,Steel,Petrol,Modern,1987-02-02
12,Imagination,Carnival,18,2052,855,102,3429,92,Inboard,Wood,Petrol,Luxury,1997-10-31
13,Inspiration,Carnival,17,2052,855,102,3429,92,Jet,Steel,Petrol,Modern,1995-12-28
14,Legend,Carnival,11,2124,963,1062,4049,93,Jet,Steel,Petrol,Luxury,2001-04-17
17,Paradise,Carnival,15,2052,855,102,3429,92,Inboard,Fiberglass,Diesel,Luxury,1989-04-07
18,Pride,Carnival,12,2124,963,1162,4167,93,IPS,Steel,Diesel,Classic,2008-01-03
19,Sensation,Carnival,20,2052,855,102,3429,92,Jet,Aluminum,Diesel,Luxury,2000-07-13
21,Triumph,Carnival,14,2758,893,1321,3681,10,Jet,Fiberglass,Diesel,Minimalist,2004-03-27
30,Solstice,Celebrity,5,285,1033,687,3457,67,Outboard,Fiberglass,Petrol,Minimalist,1983-03-26
32,Xpedition,Celebrity,12,94,296,45,2478,6,IPS,Wood,Petrol,Classic,2003-03-09
33,Zenith,Celebrity,21,1366,682,687,3457,67,IPS,Steel,Petrol,Minimalist,1986-10-26
34,Allegra,Costa,21,808,616,41,3519,4,IPS,Aluminum,Petrol,Classic,1984-01-19
35,Atlantica,Costa,13,2114,957,1056,405,92,IPS,Wood,Diesel,Modern,2008-05-24
41,Mediterranea,Costa,10,2114,96,1056,4068,92,Jet,Wood,Diesel,Luxury,2018-03-26
42,Romantica,Costa,20,1344,722,678,3947,6,IPS,Steel,Petrol,Classic,2020-07-16
49,QueenVictoria,Cunard,6,20,964,1029,45,9,Jet,Steel,Electric,Modern,2012-03-12
52,Amsterdam,Holland_American,13,138,78,688,442,6,IPS,Fiberglass,Petrol,Luxury,2012-08-07
53,Eurodam,Holland_American,5,2104,936,1022,4087,8,Inboard,Wood,Diesel,Luxury,1984-08-06
55,Noordam,Holland_American,29,1214,704,607,2794,53,Jet,Steel,Diesel,Modern,2016-09-09
57,Prinsendam,Holland_American,25,749,674,396,5073,46,Outboard,Wood,Electric,Luxury,2002-01-20
65,Zuiderdam,Holland_American,11,1848,951,924,46,8,Outboard,Steel,Electric,Minimalist,2004-05-22
66,Armonia,MSC,12,1566,824,783,3742,7,IPS,Aluminum,Diesel,Luxury,2018-07-21
68,Lirica,MSC,10,156,823,765,3771,7,Jet,Steel,Diesel,Luxury,1992-11-02
71,Opera,MSC,9,17,763,85,3474,74,IPS,Wood,Diesel,Luxury,1998-07-22
73,Sinfonia,MSC,11,1566,823,783,3742,76,IPS,Wood,Petrol,Classic,1983-03-28
74,Crown,Norwegian,25,1052,615,526,3256,47,Inboard,Fiberglass,Diesel,Minimalist,1987-08-27
75,Dawn,Norwegian,11,224,965,112,4018,11,IPS,Wood,Petrol,Modern,2017-09-10
78,Jewel,Norwegian,8,2244,965,1122,4055,11,Inboard,Aluminum,Petrol,Minimalist,1995-11-26
80,PrideofAloha,Norwegian,14,2002,853,1001,3851,8,IPS,Wood,Petrol,Classic,1991-06-15
81,PrideofAmerica,Norwegian,9,2144,921,1072,3778,10,IPS,Aluminum,Petrol,Minimalist,2010-11-11
82,Sea,Norwegian,25,1504,708,752,2793,63,Outboard,Wood,Electric,Classic,2014-05-21
83,Spirit,Norwegian,15,1956,879,983,3852,13,Jet,Fiberglass,Petrol,Modern,1995-10-19
84,Star,Norwegian,40,115,674,4,2435,38,Outboard,Fiberglass,Electric,Classic,1989-02-07
87,Insignia,Oceania,15,684,594,342,4426,4,Inboard,Steel,Electric,Minimalist,1998-04-15
88,Nautica,Oceania,13,684,594,342,4426,4,Inboard,Fiberglass,Petrol,Minimalist,2005-10-22
89,Regatta,Oceania,15,684,594,342,4426,4,IPS,Fiberglass,Petrol,Modern,2004-11-01
90,MarcoPolo,Orient,48,826,578,425,2673,35,Inboard,Steel,Petrol,Luxury,1990-03-01
92,Artemis,P&O,29,1178,754,53,382,52,Inboard,Wood,Diesel,Modern,1995-03-05
93,Aurora,P&O,13,1874,886,939,4055,85,Outboard,Wood,Diesel,Classic,2006-05-15
94,Oceana,P&O,10,2016,856,975,3819,9,Outboard,Steel,Electric,Classic,2017-11-19
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,2016-03-18
99,Crown,Princess,7,31,951,1557,3742,12,IPS,Fiberglass,Electric,Classic,2012-04-15

In [69]:
# 18. Length greater than 900
df[df['length'] > 900]

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,1993-02-08
9,Freedom,Carnival,6,37,951,1487,2979,115,Inboard,Aluminum,Diesel,Modern,2017-07-26
10,Glory,Carnival,10,2974,951,1487,3699,116,Jet,Wood,Petrol,Luxury,2005-08-31
14,Legend,Carnival,11,2124,963,1062,4049,93,Jet,Steel,Petrol,Luxury,2001-04-17
15,Liberty*,Carnival,8,2974,951,1487,3699,116,Inboard,Wood,Electric,Luxury,1998-03-10
16,Miracle,Carnival,9,2124,963,1062,4167,103,IPS,Steel,Diesel,Classic,2003-06-22
18,Pride,Carnival,12,2124,963,1162,4167,93,IPS,Steel,Diesel,Classic,2008-01-03
20,Spirit,Carnival,12,2124,963,1056,4167,1029,Jet,Wood,Petrol,Minimalist,2011-08-05
22,Valor,Carnival,9,2974,952,1487,3699,116,Outboard,Wood,Electric,Minimalist,1993-01-29
25,Constellation,Celebrity,11,2032,965,975,4478,999,Outboard,Aluminum,Diesel,Classic,1990-04-06
27,Infinity,Celebrity,12,2032,965,975,4478,999,Outboard,Steel,Electric,Minimalist,1987-06-28
29,Millenium,Celebrity,13,2032,965,975,4478,999,Inboard,Wood,Electric,Classic,1981-09-22
30,Solstice,Celebrity,5,285,1033,687,3457,67,Outboard,Fiberglass,Petrol,Minimalist,1983-03-26
31,Summit,Celebrity,12,2032,965,975,4478,999,IPS,Fiberglass,Petrol,Modern,1984-11-19
35,Atlantica,Costa,13,2114,957,1056,405,92,IPS,Wood,Diesel,Modern,2008-05-24
43,Serena,Costa,6,38,951,15,2947,109,Inboard,Aluminum,Diesel,Classic,1981-07-05
47,QueenElizabethII,Cunard,44,1791,963,95,3927,921,Inboard,Wood,Diesel,Luxury,2004-04-21
48,QueenMary2,Cunard,10,262,1132,1134,5779,1253,Inboard,Wood,Electric,Modern,1990-11-24
49,QueenVictoria,Cunard,6,20,964,1029,45,9,Jet,Steel,Electric,Modern,2012-03-12
50,Magic,Disney,15,175,964,875,4762,945,Outboard,Wood,Diesel,Luxury,1984-10-01
51,Wonder,Disney,14,175,964,875,4743,945,Inboard,Fiberglass,Diesel,Modern,2019-12-27
53,Eurodam,Holland_American,5,2104,936,1022,4087,8,Inboard,Wood,Diesel,Luxury,1984-08-06
56,Oosterdam,Holland_American,10,1848,959,924,4425,842,Jet,Aluminum,Petrol,Minimalist,2006-05-19
65,Zuiderdam,Holland_American,11,1848,951,924,46,8,Outboard,Steel,Electric,Minimalist,2004-05-22
67,Fantasia,MSC,5,3959,1093,1637,3372,1313,IPS,Aluminum,Electric,Luxury,1981-02-08
70,Musica,MSC,7,255,961,1275,3514,987,Outboard,Wood,Electric,Classic,2019-06-26
75,Dawn,Norwegian,11,224,965,112,4018,11,IPS,Wood,Petrol,Modern,2017-09-10
77,Gem,Norwegian,6,2394,965,1197,3885,1109,Outboard,Fiberglass,Petrol,Minimalist,1997-05-19
78,Jewel,Norwegian,8,2244,965,1122,4055,11,Inboard,Aluminum,Petrol,Minimalist,1995-11-26
81,PrideofAmerica,Norwegian,9,2144,921,1072,3778,10,IPS,Aluminum,Petrol,Minimalist,2010-11-11
91,Arcadia,P&O,9,1968,935,984,4319,869,Jet,Steel,Diesel,Modern,1984-05-07
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,2016-03-18
99,Crown,Princess,7,31,951,1557,3742,12,IPS,Fiberglass,Electric,Classic,2012-04-15

In [71]:
# 19. Diesel fuel type
df[df['Fuel_Type'] == 'Diesel']

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
1,Quest,Azamara,6,694,594,355,4264,355,IPS,Fiberglass,Diesel,Minimalist,2007-04-16
6,Elation,Carnival,15,2052,855,102,3429,92,IPS,Wood,Diesel,Luxury,1990-07-05
8,Fascination,Carnival,19,2052,855,102,3429,92,Outboard,Wood,Diesel,Minimalist,1997-11-27
9,Freedom,Carnival,6,37,951,1487,2979,115,Inboard,Aluminum,Diesel,Modern,2017-07-26
16,Miracle,Carnival,9,2124,963,1062,4167,103,IPS,Steel,Diesel,Classic,2003-06-22
17,Paradise,Carnival,15,2052,855,102,3429,92,Inboard,Fiberglass,Diesel,Luxury,1989-04-07
18,Pride,Carnival,12,2124,963,1162,4167,93,IPS,Steel,Diesel,Classic,2008-01-03
19,Sensation,Carnival,20,2052,855,102,3429,92,Jet,Aluminum,Diesel,Luxury,2000-07-13
21,Triumph,Carnival,14,2758,893,1321,3681,10,Jet,Fiberglass,Diesel,Minimalist,2004-03-27
24,Century,Celebrity,18,177,815,875,3989,858,Outboard,Aluminum,Diesel,Classic,2013-01-09
25,Constellation,Celebrity,11,2032,965,975,4478,999,Outboard,Aluminum,Diesel,Classic,1990-04-06
35,Atlantica,Costa,13,2114,957,1056,405,92,IPS,Wood,Diesel,Modern,2008-05-24
41,Mediterranea,Costa,10,2114,96,1056,4068,92,Jet,Wood,Diesel,Luxury,2018-03-26
43,Serena,Costa,6,38,951,15,2947,109,Inboard,Aluminum,Diesel,Classic,1981-07-05
45,Serenity,Crystal,10,108,79,55,6296,636,Outboard,Steel,Diesel,Classic,2018-05-15
46,Symphony,Crystal,18,94,781,48,5426,545,Inboard,Steel,Diesel,Minimalist,2002-01-16
47,QueenElizabethII,Cunard,44,1791,963,95,3927,921,Inboard,Wood,Diesel,Luxury,2004-04-21
50,Magic,Disney,15,175,964,875,4762,945,Outboard,Wood,Diesel,Luxury,1984-10-01
51,Wonder,Disney,14,175,964,875,4743,945,Inboard,Fiberglass,Diesel,Modern,2019-12-27
53,Eurodam,Holland_American,5,2104,936,1022,4087,8,Inboard,Wood,Diesel,Luxury,1984-08-06
55,Noordam,Holland_American,29,1214,704,607,2794,53,Jet,Steel,Diesel,Modern,2016-09-09
58,Rotterdam,Holland_American,16,132,777,66,4519,644,IPS,Fiberglass,Diesel,Classic,2014-09-26
59,Ryndam,Holland_American,19,1266,719,633,438,588,Jet,Steel,Diesel,Modern,2009-07-04
60,Statendam,Holland_American,20,1266,719,633,438,588,Inboard,Wood,Diesel,Luxury,1990-06-15
61,Veendam,Holland_American,17,1266,719,633,438,588,Outboard,Fiberglass,Diesel,Luxury,1991-04-21
63,Westerdam,Holland_American,27,1494,798,747,3606,612,Inboard,Aluminum,Diesel,Minimalist,2013-02-28
66,Armonia,MSC,12,1566,824,783,3742,7,IPS,Aluminum,Diesel,Luxury,2018-07-21
68,Lirica,MSC,10,156,823,765,3771,7,Jet,Steel,Diesel,Luxury,1992-11-02
69,Melody,MSC,31,125,669,532,2811,535,Jet,Steel,Diesel,Modern,1998-02-03
71,Opera,MSC,9,17,763,85,3474,74,IPS,Wood,Diesel,Luxury,1998-07-22
74,Crown,Norwegian,25,1052,615,526,3256,47,Inboard,Fiberglass,Diesel,Minimalist,1987-08-27
91,Arcadia,P&O,9,1968,935,984,4319,869,Jet,Steel,Diesel,Modern,1984-05-07
92,Artemis,P&O,29,1178,754,53,382,52,Inboard,Wood,Diesel,Modern,1995-03-05
93,Aurora,P&O,13,1874,886,939,4055,85,Outboard,Wood,Diesel,Classic,2006-05-15
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20

In [77]:
# 20. Passenger density greater than 3500
df[df['passenger_density'] > 3500]

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,1989-03-14
1,Quest,Azamara,6,694,594,355,4264,355,IPS,Fiberglass,Diesel,Minimalist,2007-04-16
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,1993-02-08
4,Destiny,Carnival,17,2642,892,1321,3836,10,IPS,Aluminum,Electric,Luxury,1985-09-14
10,Glory,Carnival,10,2974,951,1487,3699,116,Jet,Wood,Petrol,Luxury,2005-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Oceana,P&O,10,2016,856,975,3819,9,Outboard,Steel,Electric,Classic,2017-11-19
95,Oriana,P&O,18,1882,853,914,3674,794,IPS,Wood,Petrol,Modern,2003-01-08
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,2016-03-18
99,Crown,Princess,7,31,951,1557,3742,12,IPS,Fiberglass,Electric,Classic,2012-04-15

In [117]:
# 21. Convert Launch_Date to datetime
df['Launch_Date'] = pd.to_datetime(df['Launch_Date'], errors='coerce')
df['Launch_Date']

0    1989-03-14
1    2007-04-16
2    2002-06-07
3    1993-02-08
4    1985-09-14
        ...
95   2003-01-08
96   2010-05-26
97   1987-12-20
98   2016-03-18
99   2012-04-15
Name: Launch_Date, Length: 100, dtype: datetime64[ns]

In [119]:
# 22. Remove duplicate records
df = df.drop_duplicates()
df

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Type,Hull_Material,Fuel_Type,Interior_Style,Launch_Date
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,1989-03-14
1,Quest,Azamara,6,694,594,355,4264,355,Ips,Fiberglass,Diesel,Minimalist,2007-04-16
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,2002-06-07
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,1993-02-08
4,Destiny,Carnival,17,2642,892,1321,3836,10,Ips,Aluminum,Electric,Luxury,1985-09-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Oriana,P&O,18,1882,853,914,3674,794,Ips,Wood,Petrol,Modern,2003-01-08
96,Ventura,P&O,5,3574,9,1532,3218,122,Outboard,Wood,Electric,Minimalist,2010-05-26
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,2016-03-18
99,Crown,Princess,7,31,951,1557,3742,12,Ips,Fiberglass,Electric,Classic,2012-04-15

In [165]:
# 23. Standardize categorical values
df['Engine_Type'] = df['Engine_Types'].str.title()
df['Fuel_Type'] = df['Fuel_Types'].str.title()
df['Engine_Types'].str.title()
df['Fuel_Types'].str.title()

0     Electric
1       Diesel
2       Petrol
3       Petrol
4     Electric
        ...
95      Petrol
96    Electric
97      Diesel
98      Petrol
99    Electric
Name: Fuel_Types, Length: 100, dtype: object

In [169]:
# 24. Treat unrealistic values
df = df[(df['passengers'] > 0) & (df['crew'] > 0)]
(df['passengers'] > 0) & (df['crew'] > 0)

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Length: 100, dtype: bool

In [167]:
# 25. Rename columns
df.rename(columns={
    'Cruise_Line': 'Cruise_Lines',
    'Engine_Type': 'Engine_Types',
    'Fuel_Type': 'Fuel_Types',
    'Hull_Material': 'Hull_Materials',
    'Interior_Style': 'Interior_Styles'
}, inplace=True)
df

,Ship_name,Cruise_line,Age,passengers,length,cabins,passenger_density,crew,Engine_Types,Hull_Materials,Fuel_Types,Interior_Styles,Launch_Date,Engine_Types,Fuel_Types
0,Journey,Azamara,6,694,594,355,4264,355,Jet,Fiberglass,Electric,Classic,1989-03-14,Jet,Electric
1,Quest,Azamara,6,694,594,355,4264,355,Ips,Fiberglass,Diesel,Minimalist,2007-04-16,Ips,Diesel
2,Celebration,Carnival,26,1486,722,743,318,67,Jet,Steel,Petrol,Classic,2002-06-07,Jet,Petrol
3,Conquest,Carnival,11,2974,953,1488,3699,191,Inboard,Aluminum,Petrol,Modern,1993-02-08,Inboard,Petrol
4,Destiny,Carnival,17,2642,892,1321,3836,10,Ips,Aluminum,Electric,Luxury,1985-09-14,Ips,Electric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Oriana,P&O,18,1882,853,914,3674,794,Ips,Wood,Petrol,Modern,2003-01-08,Ips,Petrol
96,Ventura,P&O,5,3574,9,1532,3218,122,Outboard,Wood,Electric,Minimalist,2010-05-26,Outboard,Electric
97,Caribbean,Princess,9,26,951,13,4462,11,Jet,Aluminum,Diesel,Classic,1987-12-20,Jet,Diesel
98,Coral,Princess,11,1974,964,987,4642,9,Inboard,Wood,Petrol,Luxury,2016-03-18,Inboard,Petrol
99,Crown,Princess,7,31,951,1557,3742,12,Ips,Fiberglass,Electric,Classic,2012-04-15,Ips,Electric

In [183]:
# 26. Ship Age Category
df['Ship_Age_Category'] = pd.cut(
    df['Age'],
    bins=[0,10,20,100],
    labels=['New','Mid-Age','Old']
)
df['Ship_Age_Category']

0         New
1         New
2         Old
3     Mid-Age
4     Mid-Age
       ...
95    Mid-Age
96        New
97        New
98    Mid-Age
99        New
Name: Ship_Age_Category, Length: 100, dtype: category
Categories (3, object): ['New' < 'Mid-Age' < 'Old']

In [189]:
# 27. Passenger Load
df['Passenger_Load'] = pd.cut(
    df['passengers'],
    bins=[0,1500,2500,10000],
    labels=['Low','Medium','High']
)
df['Passenger_Load']

0        Low
1        Low
2        Low
3       High
4       High
       ...
95    Medium
96      High
97       Low
98    Medium
99       Low
Name: Passenger_Load, Length: 100, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [197]:
# 28. Crew to Passenger Ratio
df['Crew_to_Passenger_Ratio'] = df['crew'] / df['passengers']
df['Crew_to_Passenger_Ratio']

0     0.511527
1     0.511527
2     0.045087
3     0.064223
4     0.003785
        ...
95    0.421892
96    0.034135
97    0.423077
98    0.004559
99    0.387097
Name: Crew_to_Passenger_Ratio, Length: 100, dtype: float64

In [199]:
# 29. Length Category
df['Length_Category'] = pd.cut(
    df['length'],
    bins=[0,800,900,2000],
    labels=['Small','Medium','Large']
)
df['Length_Category']

0      Small
1      Small
2      Small
3      Large
4     Medium
       ...
95    Medium
96     Small
97     Large
98     Large
99     Large
Name: Length_Category, Length: 100, dtype: category
Categories (3, object): ['Small' < 'Medium' < 'Large']

In [217]:
# 30. Average passengers by cruise line
df.groupby('Cruise_line')['passengers'].mean()

Cruise_line
Azamara              694.000000
Carnival            2179.318182
Celebrity           1212.100000
Costa               1132.909091
Crystal              101.000000
Cunard               691.000000
Disney               175.000000
Holland_American    1062.642857
MSC                 1074.500000
Norwegian           1553.000000
Oceania              684.000000
Orient               826.000000
P&O                 2082.000000
Princess             677.000000
Name: passengers, dtype: float64

In [241]:
df = df.loc[:, ~df.columns.duplicated()]
# 31. Average crew size by engine type
df.groupby('Engine_Types')['crew'].mean().round(2)

Engine_Types
Inboard     393.00
Ips         235.48
Jet         359.26
Outboard    447.41
Name: crew, dtype: float64

In [247]:
# 32. Average passenger density by fuel type
df.groupby('Fuel_Types')['passenger_density'].mean()

Fuel_Types
Diesel      3445.914286
Electric    3220.866667
Petrol      3605.314286
Name: passenger_density, dtype: float64

In [251]:
# 33. Average ship length by hull material
df.groupby('Hull_Materials')['length'].mean()

Hull_Materials
Aluminum      877.666667
Fiberglass    745.761905
Steel         772.592593
Wood          764.500000
Name: length, dtype: float64

In [263]:
# 34. Average cabins per cruise line
df.groupby('Cruise_line')['cabins'].mean()

Cruise_line
Azamara             355.000000
Carnival            863.818182
Celebrity           806.400000
Costa               757.181818
Crystal              51.500000
Cunard              752.666667
Disney              875.000000
Holland_American    574.928571
MSC                 780.375000
Norwegian           772.769231
Oceania             342.000000
Orient              425.000000
P&O                 899.500000
Princess            852.333333
Name: cabins, dtype: float64

In [265]:
# 35. Electric vs Diesel passenger capacity
df.groupby('Fuel_Types')['passengers'].mean()

Fuel_Types
Diesel      1184.771429
Electric    1426.333333
Petrol      1524.200000
Name: passengers, dtype: float64

In [291]:
# 36. Ship age vs passenger density
df.groupby('Ship_Age_Category', observed=False)['passenger_density'].mean()

Ship_Age_Category
New        3588.137931
Mid-Age    3565.775510
Old        2938.181818
Name: passenger_density, dtype: float64

In [275]:
# 37. Luxury vs Modern interior on length
df.groupby('Interior_Styles')['length'].mean()

Interior_Styles
Classic       723.733333
Luxury        784.074074
Minimalist    798.181818
Modern        850.952381
Name: length, dtype: float64

In [281]:
# 38. Crew size variation across cruise lines
df.groupby('Cruise_line')['crew'].describe()

,count,mean,std,min,25%,50%,75%,max
Cruise_line,,,,,,,,
Azamara,2.0,355.000000,0.000000,355.0,355.00,355.0,355.00,355.0
Carnival,22.0,135.272727,202.864295,10.0,92.00,92.0,115.00,1029.0
Celebrity,10.0,681.200000,440.884162,6.0,264.75,909.0,999.00,999.0
Costa,11.0,440.272727,412.072103,4.0,92.00,385.0,701.00,1068.0
Crystal,2.0,590.500000,64.346717,545.0,567.75,590.5,613.25,636.0
Cunard,3.0,727.666667,644.140771,9.0,465.00,921.0,1087.00,1253.0
Disney,2.0,945.000000,0.000000,945.0,945.00,945.0,945.00,945.0
Holland_American,14.0,402.285714,301.511941,6.0,47.75,559.0,588.00,842.0
MSC,8.0,412.000000,496.555277,7.0,57.25,186.5,648.00,1313.0
Norwegian,13.0,302.692308,399.218066,8.0,11.00,47.0,614.00,1109.0
Oceania,3.0,4.000000,0.000000,4.0,4.00,4.0,4.00,4.0
Orient,1.0,35.000000,NaN,35.0,35.00,35.0,35.00,35.0
P&O,6.0,321.833333,397.248243,9.0,60.25,103.5,626.00,869.0
Princess,3.0,10.666667,1.527525,9.0,10.00,11.0,11.50,12.0

In [305]:
# Ensure df is a proper copy (recommended after filtering)
df = df.copy()
# 39. Ships launched before vs after 2000
df.loc[:, 'Launch_Year_Group'] = np.where(
    df['Launch_Date'].dt.year < 2000,
    'Before 2000',
    'After 2000'
)
df.groupby('Launch_Year_Group')[['passengers', 'crew', 'length']].mean()

                   passengers    crew  length
Launch_Year_Group
After 2000            1325.98  321.78  750.38
Before 2000           1426.10  387.58  815.86